.final_container {
    height: 100vh;
    background-color: #a9a9a9;
}

#new1 {
    background-color: rgb(43, 43, 142);
    height: 720px;

}

.headin1 {
    margin-left: 50px;
    margin-bottom: 100px;
    margin-top: -1px;
    line-height: 1.3;
    font-size: 2.5em;
    color: whitesmoke;
}

.headin2 {
    width: 100px;
    height: 50px;
    margin-left: 50px;
    background-color: black;
    text-align: center;
    justify-content: center;
    color: whitesmoke;
}

.headin3 {
    margin-left: 50px;
    margin-top: 100px;
    color: gray;
}

.headin4 {
    margin-left: 50px;
    color: whitesmoke;
}

.headin5 {
    margin-left: 50px;
    margin-top: 50px;
    color: gray;
}

.headin6 {
    margin-left: 50px;
    color: whitesmoke;
}

.headin7 {
    margin-left: 50px;
    margin-top: 50px;
    color: gray;
}

.headin8 {
    margin-left: 50px;
    margin-top: 10px;
    color: whitesmoke;
}

.heads {
    margin-left: 300px;
    margin-top: -200px;
}

.headin9 {
    margin-left: 50px;
    margin-top: 50px;
    color: gray;
}

.headin10 {
    margin-left: 50px;
    margin-top: 10px;
    color: whitesmoke;
    cursor: pointer;

}

.heads1 {
    margin-left: 650px;
    margin-top: -210px;
}


.headin11 {
    margin-left: 50px;
    margin-top: 50px;
    color: gray;
}

.headin12 {
    margin-left: 50px;
    margin-top: 10px;
    color: whitesmoke;
}

.heads2 {
    margin-left: 950px;
    margin-top: -235px;
}

#new2 {
    margin-top: 180px;
    line-height: 1.5;
}

.headin13 {
    margin-left: 50px;
    margin-top: 140px;
    color: whitesmoke;

}

.headin14 {
    color: whitesmoke;
    margin-left: 1320px;
    margin-right: 50px;
    margin-top: -22px;


}